* {
    font-family:"Optima",fantasy;
    /* font-variant: small-caps; */
    text-align: start;
    color: rgb(0, 0, 0);
  }
  .hidden {
    display: none;
  }

  #name, #title {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-left: 120px;
    line-height: 3px;
  }
  #email{
    text-align: center; 
    line-height: 3px;
  }
  h1,h2 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 115px;
  }
  h1{
    line-height: 10px;
  }
  
  mark1{
    background-color:rgba(0, 255, 255, 0.468)
  }
  mark2{
    background-color:rgba(115, 255, 0, 0.488);
    text-decoration: underline;
  }
  mark3{
    background-color:rgba(255, 98, 0, 0.488);
    
  }
  #proj{
    text-align: center
  }
/* everything */
  body {
    display: flex;
    flex-direction: column;
    background-image: url("./notebook.jpeg");
    background-position:left top;
    background-size: cover;
    
  }
  /* just the items (not resume or header) container box */
  #bodyelements{
    padding-left: 120px;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content:space-around;
  }
  #clicker, #phaser, #crud{
    color: #032014;
    border: 2px solid rgba(255, 0, 200, 0.547);
    flex-basis: 33.333333%;
  }

  #form,#aboutme, #funfac, #reviews{
    padding-left: 120px;
  }
  b{
    background-color:rgba(255, 0, 200, 0.547);
    
    
  }
  #add{
    text-decoration: underline;
  }
  